<% include header %>
<section>

  <div class="container">
    <div class="row">
      <div class="col-30">
        <div class="card">
          <form action="" method="post">
            <% formElements.forEach(element => { %>
            <label for="<%= element.id %>"><%= element.title %></label>
            <input type="<%= element.type %>" class="<%= element.class %>" name="<%= element.name %>" id="<%= element.id %>">
            <% }) %>
            <button type="<%= button.type %>" class="<%= button.class %>"><%= button.title %></button>
          </form>
          <a class="mt-3" href="<%= button.path %>"><%= button.botText %> </a>
        </div>
      </div>
    </div>
  </div>

</section>




<% include footer %>